{{- if not (and .Values.externalSecret.enabled .Values.externalSecret.api.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "dify.api.fullname" . }}
  labels:
{{- include "dify.labels" . | nindent 4 }}
    component: api
type: Opaque
data:
  {{- include "dify.api.credentials" . | nindent 2 }}
{{- end }}
