apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "dify.api.fullname" . }}
  labels:
{{- include "dify.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
data:
  {{- include "dify.api.config" . | nindent 2 }}
