{{- if not (and .Values.externalSecret.enabled .Values.externalSecret.pluginDaemon.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "dify.pluginDaemon.fullname" . }}
  labels:
{{- include "dify.labels" . | nindent 4 }}
    component: plugin-daemon
type: Opaque
data:
  {{- include "dify.pluginDaemon.credentials" . | nindent 2 }}
{{- end }}
