apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "dify.sandbox.fullname" . }}
  labels:
{{- include "dify.labels" . | nindent 4 }}
    component: sandbox
data:
  {{- include "dify.sandbox.config" . | nindent 2 }}
