{{- if .Values.ssrfProxy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "dify.ssrfProxy.fullname" . }}
  labels:
{{- include "dify.labels" . | nindent 4 }}
    component: ssrf-proxy
data:
  squid.conf: |-
    {{- include "dify.ssrfProxy.config.squid" . | indent 4 }}
{{- end }}
